@import '../../shared/sass-helper/styles_variables';

.faq__left{
  &--element {
    cursor: pointer;
  }
  &--element:hover {
    background-color: $bSuccess;
    color: #FFFFFF;
  }
}

// .list-group-item-action{
//   background: $bSuccess;
// }
