<wp-page slug="faq">
  <ng-template let-page="page">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="display-3" [innerHTML]="page.title.rendered"></h1>
          <div [innerHTML]="page.content.rendered"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-3 faq__left list-group">
          <wp-post-list class="sticky-top d-block" orderBy="date" order="asc" category="9">
          <!-- <wp-post-list class="sticky-top d-block" orderBy="date" order="asc" category="8"> -->
            <ng-template let-post="post">
              <div class="faq__left--element d-block list-group-item list-group-item-action"
                 routerLink="." [fragment]="post.slug" skipLocationChange>
                {{ post.title.rendered }}
            </div>
            </ng-template>
          </wp-post-list>
        </div>
        <div class="col-9">
          <wp-post-list orderBy="date" order="asc" category="9">
          <!-- <wp-post-list orderBy="date" order="asc" category="8"> -->
            <ng-template let-post="post">
              <section [id]="post.slug">
                <h2>{{ post.title.rendered }}</h2>
                <div [innerHTML]="post.content.rendered"></div>
              </section>
            </ng-template>
          </wp-post-list>
        </div>
      </div>
    </div>
  </ng-template>
</wp-page>
