<div class="container d-flex justify-content-center" style="width: 64vw;" *ngIf="wpPostFound">
  <div class="card">
    <wp-post [slug]="slug$ | async">
      <ng-template let-post="post">
        <h5 class="card-header text-center" #checkTitle>{{ post.title.rendered }}</h5>
        <wp-image size="large" [mediaId]="post.featured_media">
          <ng-template let-image="image" let-media="media">
            <div class="img-hover-zoom">
              <img class="w-100" [src]="image.source_url" [alt]="image.alt_text" *ngIf="!!image; else openPostMedia" />
              <ng-template #openPostMedia>
                <img class="w-100" [src]="media.source_url" [alt]="media.alt_text"/>
              </ng-template>
            </div>
          </ng-template>
        </wp-image>
        <div class="card-body">
          <p class="card-text" [innerHTML]="post.content.rendered"></p>
        </div>
      </ng-template>
    </wp-post>
  </div>
</div>
<div *ngIf="!wpPostFound">
  <app-page404></app-page404>
</div>

