// Bootsrap 5 Colors in palette
// For ref https://colorswall.com/palette/67931/
// For color ref: https://html-color.codes/green

$bSuccess: #28a745;
$bPrimary: #0d6efd;
$bSecondary: #6c757d;
$bDanger: #dc3545;
$bWarning: #ffc107;
$bInfo: #17a2b8;
$bLight: #f8f9fa;
$bDark: #212529; //Blue Charcoal
$balticSea: #343a40;
$jade: #00a86b;
